<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fosu.software.delivery.dao.UserInfoMapper">
	<insert id="userInfoInit" parameterType="UserInfo">
		INSERT INTO user_info (user_id, user_name, user_sex, user_address, user_avatar,user_province)
		VALUES (#{userId},#{userName},#{userSex},#{userAddress},#{userAvatar},#{userProvince})
	</insert>
	<select id="findUserInfo" resultType="UserInfo" parameterType="String">
		SELECT * FROM user_info WHERE user_id =#{userId}
	</select>
</mapper>